.wrapper {
    border-radius: 4px;
    text-decoration: none !important;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid transparent;
    font-family: TikTokFont, sans-serif;

    + .wrapper {
        // button behind
        margin-left: 16px;
    }
}

// Button types

.primary {
    background-color: var(--primary);
    color: var(--white) !important;

    &:hover {
        background: linear-gradient(0deg, rgb(0 0 0 / 6%), rgb(0 0 0 / 6%)), rgb(254 44 85);
    }
}

.outline {
    color: var(--primary);
    border: 1px solid currentcolor !important;
    font-weight: 600;

    &:hover {
        background-color: rgb(254 44 85 / 6%);
    }
}

.secondary {
    border: 1px solid rgb(22 24 35 / 12%) !important ;
    color: rgb(22 24 35 / 75%);
    box-shadow: rgb(0 0 0 / 6%) 0 2px 8px;

    &:hover {
        border-color: rgb(22 24 35 / 20%) !important;
        background-color: rgb(255 255 255);
    }
}

.rounded {
    border-radius: 52px;
}

// Button sizes

.small {
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    font-size: 1.4rem;
}

.medium {
    padding: 6px 8px;
    min-height: 36px;
    min-width: 100px;
}

.large {
    padding: 6px 8px;
    min-height: 48px;
    min-width: 208px;
}

.auto {
    padding: 6px 8px;
    min-height: 48px;
    min-width: auto;
    width: 100%;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
