.scroll-container {
    overflow-y: hidden;
    padding-inline: 20px;
}

.video-wrapper {
    height: 100vh;
    padding-top: 60px;
    display: flex;
    padding-inline-end: 70px;
    margin-inline: auto;
}

.loader-wrapper {
    width: 100%;
    text-align: center;
    padding-inline-end: 100px;
    padding-top: 50px;
}

@media screen and (width <= 1071px) {
    .video-wrapper {
        padding-inline-end: 0;
    }
}
