@import 'normalize.css';
@import 'bootstrap/scss/bootstrap';

:root {
    --primary: #fe2c55;
    --white: #fff;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    // color
    --color-grey100: rgb(22 24 35 / 100%);
    --color-grey75: rgb(22 24 35 / 75%);
    --color-grey50: rgb(22 24 35 / 50%);
    --color-grey20: rgb(22 24 35 / 20%);
    --color-grey12: rgb(22 24 35 / 12%);
    --color-grey6: rgb(22 24 35 / 6%);
    --color-grey3: rgb(22 24 35 / 3%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // set default font-size = 10px
}

// Font emmbeded

@font-face {
    font-family: TikTokFont;
    src: url('../../assets/fonts/TikTokFont_Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('../../assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('../../assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

// Scrollbar CSS

/* width */
*::-webkit-scrollbar {
    width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background-color: rgb(22 24 35 / 6%);
    border-radius: 3px;
}

body {
    font-family: TikTokFont, sans-serif;
    font-style: normal;
    font-size: 1.6rem; // --> 1rem = 10px; 1.6rem = 16px
    line-height: 1.5;
    text-rendering: optimizespeed;
    max-height: 100vh;

    // overflow-y: hidden;

    // Custom tippy tooltip

    .tippy-box {
        background-color: rgb(84 84 84 / 92%);
        border-radius: 8px;
    }

    .tippy-arrow::before {
        color: rgb(84 84 84 / 92%);
        top: -8px !important;
    }
}

button,
input,
[tabindex] {
    outline: none;
    border: none !important;
}

input:focus {
    box-shadow: none !important;
}

a[href] {
    color: var(--color-grey100);
}

.check-icon {
    margin-left: 6px;
    height: 14px;
    width: 14px;
    color: rgb(53 225 225 / 100%);
}
