.wrapper {
    width: 100%;
    max-width: 240px;
    position: relative;
}

.inner {
    width: 100%;
    max-width: 240px;
    padding: 20px 0 26px 8px;
    position: fixed;

    // perspective: 1px;
    // transform-style: preserve-3d;
    // perspective-origin: right top;
    height: -webkit-fill-available;
}

.styled-scroller {
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.5s ease-in-out;
        background-color: rgb(0 0 0 / 0%);
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgb(22 24 35 / 6%);
    }
}

.menu-container {
    margin-bottom: 8px;
}

.following-container {
    padding: 16px 0;
}

.hr {
    background: rgb(22 24 35 / 12%);
    height: 1px;
    transform: scaleY(50%);
    padding-inline: 8px;
}

.following-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(22 24 35 / 75%);
    padding: 0 8px;
    margin-bottom: 8px;
}
