.account-name {
    display: flex;
    flex-flow: column;

    .title {
        font-size: 1.6rem;
    }

    .sub-title {
        font-size: 1.2rem;
        color: var(--color-grey75);
    }
}

.item-wrapper {
    display: flex;
    padding: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border-radius: 5px;
    overflow-x: hidden;

    .icon,
    .active-icon,
    img {
        font-size: 2rem;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 50%;
    }

    .title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .active-icon {
        display: none;
    }

    &:hover {
        background: rgb(22 24 35 / 6%);
    }

    &.active {
        .title {
            color: var(--primary);
        }

        .icon {
            display: none;
        }

        .active-icon {
            display: block;
        }
    }
}

.check-icon {
    margin-left: 6px;
    height: 14px;
    width: 14px;
    color: rgb(53 225 225 / 100%);
}

@media screen and (width <= 1071px) {
    .item-wrapper {
        .account-name,
        .title {
            display: none;
        }
    }
}
