.footer-item {
    margin-bottom: 15px;

    .title {
        color: rgb(22 24 35 / 50%);
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .link {
        font-weight: 600;
        font-size: 1.2rem;
        text-decoration: none;
        margin-top: 5px;
        margin-right: 6px;
        color: rgb(22 24 35 / 50%);

        &:hover {
            text-decoration: underline;
        }
    }

    &.active {
        .title {
            color: rgb(22 24 35);
        }
    }
}

.copy-right {
    color: rgb(22 24 35 / 50%);
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 6px;
    margin-top: 5px;
}
