.wrapper {
    --search-button-width: 24px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    // max-width: var(--default-layout-width, 1150px);
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 118px;
}

.search-results,
.search {
    max-width: 500px;
    width: 100%;
}

.search-title {
    color: var(--color-grey50);
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 600;
}

.search [data-tippy-root] {
    width: -webkit-fill-available;
    inset: unset !important;
    transform: none !important;
    position: absolute;
}

.search-inner {
    border-radius: 92px;
    padding: 12px 16px;
    overflow: hidden;
    background: var(--color-grey6);
    border: 1px solid transparent;
    position: relative;

    &:has(.input:hover),
    &:has(.search-btn:hover) {
        border-color: var(--color-grey20) !important;
    }
}

.input {
    background-color: transparent !important;
    padding: 0px !important;
    font-weight: 400 !important;
    font-size: 1.6rem !important;
    line-height: 21px !important;
    padding-right: 45px;
    caret-color: var(--primary);

    &:focus {
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

.input:hover ~ .search-btn,
.search-btn:hover {
    background-color: var(--color-grey6) !important;

    svg {
        color: var(--color-grey100) !important;
    }
}

.clear,
.loading {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    width: 16px;
    height: 16px;
    color: rgba(22, 24, 35, 0.34);

    svg {
        height: 100%;
    }
}

.vertical-line {
    width: 0.5px;
    margin: -3px 0;
    background: var(--color-grey12);
    margin-left: 0px !important;
    padding-left: 2px;
}

.search-btn {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px -12px 0px;
    svg {
        height: 18px;
        color: rgba(22, 24, 35, 0.34);
    }
}

.actions {
    display: flex;
    align-items: center;
}

.custom-icon-btn {
    border: 0px !important;
    box-shadow: none !important;
}

.custom-upload {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    color: var(--color-grey100) !important;
    height: 36px;
    padding: 0 16px !important;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03) !important;
        border: 1px solid rgba(22, 24, 35, 0.12) !important;
    }
}

.more-btn {
    width: 20px;
    font-size: 1.8rem;
    padding: 4px;
    margin-left: 16px;
    background-color: transparent;
}

.account {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    margin-left: 15px;
    cursor: pointer;
}

.custom-tooltip {
    font-size: 1.6rem !important;
    font-weight: 600;
    padding: 0px;
    background-color: transparent;
}
